// Screen sizes
$screen-sm: 676px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$primary: #824c33;
$primaryDark1: #533020;
$primaryDark2: #432c21;
$primaryDark3: #39251c;
$secondary1: #d0c6ac;
$secondary2: #d6c089;
$highlight1: #ffbb0b;
$highlight2: #00b7bd;
$warning: #e3190e;
